.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.pinned-tabs {
    display: flex;
    white-space: nowrap;
}

.scrollable-tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.tab.active {
    background-color: #F1F5F8;
    color: #343434;
    border-top: 2px solid #4690E2;
}

.tab {
    background-color: #fff;
    border-right: 1px solid #ccc;
    color: #7F858D;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 145px;
    height: 48px;
    padding: 10px;
}

.tab:last-child {
    border-right: none;
}

.pinned {
    background: #d3f5d3;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: #0073e6;
}

button:hover {
    text-decoration: underline;
}
.remove-tab {
    color: red;
    height: 13px;
    width: 13px;
}